//GUN
script(src="/gun/gun.js")
script(src="/gun/sea.js")
script(src='/gun/lib/not.js')
script(src='/gun/lib/unset.js')
script(src='/gun/lib/open.js')
script(src='/gun/lib/load.js')
script(src='/gun/lib/bye.js')
//Web3
script(src='/imports/web3.min.js')
//Truffle-Contract and Collex Token
script(src='/imports/truffle-contract.min.js')
//Instant
script(src='/imports/instant.js')
//Jquery
script(src='/imports/jquery-3.3.1.min.js')
//Jquery-Draggable-Backgrounds
script(src='/imports/dragbg.js')
//web-animations
script(src='/imports/web-animation.min.js')
//Hammer
script(src='/imports/hammer.min.js')
//Sortable
script(src='/imports/sortable.min.js')
//Spectrum
link(rel='stylesheet' href='/imports/spectrum.css')
script(src='/imports/spectrum.js')
//ACE
script(src='/imports/ace.js')
script(src='/imports/ace_js.js')
script(src='/imports/worker-javascript.js')
link(rel='stylesheet' href='/imports/ace_searchbox.css')
script(src='/imports/ext_searchbox.js')
link(rel='stylesheet' href='/imports/ace_eighties.css')
//UUID_V4
script(src='/imports/uuid-v4.js')
//Quill
link(href='https://cdn.quilljs.com/1.3.6/quill.snow.css', rel='stylesheet')
script(src='https://cdn.quilljs.com/1.3.6/quill.js')
//Axios 
script(src="/imports/axios.min.js")
//IPFS
script(src="/imports/ipfs_http.js")
//Main.css
link(rel='stylesheet' href='/components/main.css')
script(src='/components/main.js')

link(rel="icon" href="/components/favicon.png")


meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  

//- if currentUser
p#raygunPublicKey(hidden)=raygunPublicKey
if currentUser
  p#username(hidden)=currentUser.username
  p#userId(hidden)=currentUser.id
  p#userHash(hidden)=currentUser.password
if dimension
  p#currentDimension(hidden)=dimension
include raygun/raygun
//- else
//-   include auth/auth
